/* common styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.btn {
  padding: 16px 30px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
.pink {
  color: #e55473;
}
/* header & banner styles here */
header {
  background-color: rgba(229, 84, 115, 0.1);
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  padding-left: 160px;
}
.banner-title {
  color: #272727;
  font-size: 65px;
  font-weight: 800;
  text-transform: capitalize;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0;
}

.banner > img {
  width: 500px;
  height: 600px;
  padding-top: 50px;
  margin-left: 97px;
  padding-right: 160px;
}
/* feature-container styles */
.feature-content {
  text-align: center;
  margin-top: 120px;
}
.feature-content-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.feature-content-des {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 16px;
}
.feature-flowers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 160px 80px 160px;
}
.box {
  width: 200px;
  height: 290px;
  border-radius: 50% 50% 0 0;
  padding: 80px 80px 0 80px;
}
.pink-box {
  background: rgba(167, 33, 98, 0.15);
}
.blue-box {
  background: rgba(5, 151, 160, 0.15);
}
.grey-box {
  background: rgba(71, 125, 17, 0.15);
}
.feature-flower img {
  width: 200px;
}
.pink-box > img {
  margin-top: 13px;
}
.blue-box > img {
  margin-top: 40px;
}
.grey-box > img {
  margin: -10px;
  margin-left: unset;
}
.flower-description {
  color: #272727;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  text-decoration-line: underline;
  margin-top: 16px;
}

/* delivery styles here */

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-left: 160px;
  margin-right: 160px;
  padding: 54px 100px;
  text-align: center;
}
.delivery-des {
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  margin-top: 10px;
}

/* available flower styles */
.available-flowers-container {
  padding: 0 160px;
  margin-top: 100px;
}
.available-flowers-content {
  text-align: center;
}
.available-flowers-content-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
}
.available-flowers-content-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}
.available-flower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
.flower > img {
  width: 260px;
  height: 300px;
  border-radius: 3px;
}
.flower-name {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 16px;
  text-decoration: underline;
}
/*hot deal styles here */
.hot-deal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  text-align: center;
  margin-top: 100px;
  padding: 50px;
}
.hot-deal-content-title {
  color: #272727;
  font-family: Lato;
  font-size: 32px;
  font-weight: 800;
}
.hot-deal-content-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 16px;
}
.hot-deal-content-button {
  border-radius: 8px;
  background-color: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  border: none;
  padding: 14px 28px;
  margin-top: 28px;
}

/* gallery img styles */
.gallery-container {
  margin-left: 160px;
  margin-right: 160px;
}
.gallery-content-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
}
.gallery-content-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 16px;
}
.gallery-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery-img img {
  width: 280px;
  height: 310px;
  margin-top: 40px;
}

/* latest deal container styles */
.latest-deal-container {
  background-image: url("../FlowerAsset/Rectangle\ 9.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 100px;
  padding: 60px 64px;
  text-align: center;
}
.latest-deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.latest-deal-coupon {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 12px;
}
.form-container {
  margin-top: 30px;
}
input[type="email"] {
  border-radius: 8px;
  background: #fff;
  border: none;
  padding: 16px;
  width: 50%;
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  font-weight: 400;
  margin-right: 14px;
}

/* footer styles here */
.footer-container {
  background-color: #111010;
  padding: 150px 100px;
  text-align: center;
  margin-top: 100px;
}
.footer-title {
  color: white;
  font-size: 32px;
  font-weight: 800;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 16px;
}
small {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-weight: 400;
}
