/* common styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
}
/* header & banner styles here */
header {
  background-color: #e554731a;
}
.banner > img {
  width: 635px;
  height: 800px;
  padding-top: 50px;
  margin-left: 97px;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  padding-left: 90px;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0;
}
.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  border: none;
}

/* feature-container styles */
.feature-content {
  text-align: center;
  margin-top: 180px;
}
.feature-content-title {
  color: #272727;
  font-family: Lato;
  font-size: 2.5rem;
  font-weight: 800;
}
.feature-content-des {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin-top: 16px;
}
.feature-flowers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 160px 80px 160px;
}
.background {
  width: 15rem;
  height: 20rem;
  border-radius: 18.75rem 18.75rem 0rem 0rem;
  background: rgba(5, 151, 160, 0.15);
  padding: 80px 80px 0 80px;
}
.background > img {
  width: 200px;
}
.feature-flower {
  margin-right: 20px;
}
.flower-description {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.1875rem;
  text-decoration-line: underline;
  margin-top: 16px;
}

/* delivery styles here */

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-left: 160px;
  margin-right: 160px;
  padding: 54px 100px;
  text-align: center;
}
.delivery-des {
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.1875rem;
  margin-top: 10px;
}

/* deal styles here */
.deal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  text-align: center;
  margin-top: 100px;
}
.deal-content-title {
  color: #272727;
  font-family: Lato;
  font-size: 2.5rem;
  font-weight: 800;
}
.deal-content-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin-top: 16px;
}
.deal-content-button {
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  border: none;
  padding: 14px 28px;
  margin-top: 28px;
}
